.imageWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5em;
  margin-right: 1em;
  height: 25vh;
  width: 25vw;
}

.contactsDiv {
  text-align:  right;
  margin-right: 23em;
  padding-top: 17em;
  font-size:large;
}