.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    background: url('../../images/151.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.background h1 {
    margin-left: 7em;
    margin-top: 7em;
    font-style: italic;
    font-size: 2em;
}

/**********************************************************************/

.secondDiv {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 100vh;
    margin-bottom: 5em;
}

.secondDiv h1 {
    font-style: italic;
    font-size: 1.5em;
}

.infoWrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
}  
  
.historyDiv {
    padding: 3em;
    margin-right: 3em;
    border: 1px solid white;
}

.contactsDiv {
    padding: 3em;
    border: 1px solid white;
}

.backgroundWrapper {
    flex: 1;
    margin-right: 3em;
}

.secondBackground {
    position: absolute;
    width: 30em;
    height: 50em;
    background: url('../../images/102.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.roomInfo {
    flex: 2;
    height: 50em;
    padding: 3em;
    border: 1px solid white;
    box-sizing: border-box;
}

.museumDiv {
    position: relative;
    padding: 3em;
    height: 17em;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: url('../../images/155.jpg') no-repeat center center fixed;
    background-size: cover;
    transition: 0.3s ease-in-out;
}

.museumDiv h1 {
    font-size: 3em;
}

.museumDiv:hover {
    opacity: 0.8;
}
