.imageWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 3%;
  height: 25vh;
  width: 25vw;
}

.contactsDiv {
  text-align:  right;
  margin-right: 20%;
  padding-top: 10%;
  font-size:large;
  color: black;
}