.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    background: url('/images/154.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.background h1 {
    opacity: 1;
}

.background h1 {
    margin-left: 7em;
    margin-top: 7em;
    font-style: italic;
    font-size: 2em;
}

/**********************************************************************/

.secondDiv {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 100vh;
    margin-bottom: 5em;
}

.secondDiv h1 {
    font-style: italic;
    font-size: 1.5em;
}

.infoWrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}  
  
.pricingDiv {
    padding: 3em;
    width: 50%;
    margin-left: 1em;
    text-align: justify;
    text-justify: inter-word;
}

.imageTextWrapper {
    flex: 2;
    height: 50em;
    display: flex;
    flex-direction: column;
}

.exhibition {
    padding: 3em;
    height: 50%;
    margin-bottom: 1em;
    text-align: justify;
    text-justify: inter-word;
}

.secondBackground {
    margin-left: 1em;
    width: 30em;
    height: 50em;
    background: url('/images/163.jpg') no-repeat center center fixed;
    background-size: cover;
}


/**********************************************************************/

.photo {
    position: relative;
    padding: 3em;
    border: 1px solid white;
}

.photo1 {
    height: 20em;
    background: url('/images/156.jpg') no-repeat center center fixed;
    background-attachment: local;
    background-size:cover;
    width:50%
}

.photo2 {
    margin-left: 1em;
    height: 20em;
    background: url('/images/157.jpg') no-repeat center center fixed;
    background-attachment: local;
    background-size:cover;
    width:50%
}

.photo3 {
    height: 20em;
    background: url('/images/160.jpg') no-repeat center center fixed;
    background-attachment: local;
    background-size:cover;
    width:60%
}

.photo4 {
    margin-left: 1em;
    height: 20em;
    background: url('/images/162.jpg') no-repeat center center fixed;
    background-attachment: local;
    background-size:cover;
    width:40%
}

.photo5 {
    background: url('/images/165.jpg') no-repeat center center fixed;
    background-attachment: local;
    background-size:cover;
    width: 50%;
}

.photo6 {
    background: url('/images/159.jpg') no-repeat center center fixed;
    background-attachment: local;
    background-size:cover;
    height: 50%;
}

/**********************************************************************/

.endBackground {
    position: relative;
    height: 50vh;
    background: url('/images/154.jpg') no-repeat center center fixed;
    background-size: cover;
}