.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    background: url('/images/71.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    color: black;
}

.background h1 {
    margin-left: 7em;
    margin-top: 7em;
    font-style: italic;
    font-size: 2em;
}

/**********************************************************************/

.secondDiv {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 100vh;
    margin-bottom: 5em;
    color: black;
}

.secondDiv h1 {
    font-style: italic;
    font-size: 1.5em;
}

.infoWrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}  
  
.historyDiv {
    padding: 3em;
    margin-right: 1em;
    text-align: justify;
    text-justify: inter-word;
}

.contactsDiv {
    padding: 3em;
    text-align: justify;
    text-justify: inter-word;
}

.imageTextWrapper {
    flex: 2;
    height: 50em;
    display: flex;
    flex-direction: column;
}

.exhibition {
    color: white;
    background-color: #2a2d32;
    padding: 3em;
    height: 50%;
    margin-bottom: 1em;  
    text-align: justify;
    text-justify: inter-word;
}

.secondBackground {
    width: 30em;
    height: 50em;
    background: url('/images/62.jpg') no-repeat center center fixed;
    background-size: cover;
}

/**********************************************************************/

.text {
    color: white;
    background-color: #2a2d32;
    padding: 3em;
    text-align: justify;
    text-justify: inter-word;
    width: 40%;
}

.room {
    height: 30em;
    position: relative;
    padding: 3em;
    border: 1px solid #2a2d32;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    width: 60%;
}

.room0 {
    background: url('/images/40.jpg') no-repeat center center fixed;
    height: 100%;
    width: auto;
    margin-right: 1em;
    background-attachment: local;
    background-size:cover;
}

.room1 {
    background: url('/images/40.jpg') no-repeat center center fixed;
    background-attachment: local;
    background-size:cover;
}

.room2 {
    background: url('/images/23.jpg') no-repeat center center fixed;
    background-attachment: local;
    background-size:cover;
}

.room3 {
    background: url('/images/84.jpg') no-repeat center center fixed;
    background-attachment: local;
    background-size:cover;
}

.room4 {
    background: url('/images/25.jpg') no-repeat center center fixed;
    background-attachment: local;
    background-size:cover;
}

.room5 {
    background: url('/images/90.jpg') no-repeat center center fixed;
    background-attachment: local;
    background-size:cover;
}

.room6 {
    background: url('/images/46.jpg') no-repeat center center fixed;
    background-attachment: local;
    background-size:cover;
}

/**********************************************************************/

.endBackground {
    position: relative;
    height: 50vh;
    background: url('/images/71.jpg') no-repeat center center fixed;
    background-size: cover;
}